*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Bai Jamjuree', sans-serif;
}
.hero{
    background-image: url("./images/bg-header-desktop.png");
    background-size: cover;
    width: 100vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.logo{
    width: 100px;
    height: 100px;
}